SoapDemo/SoapDemoConsole/Connected Services/PizzaReference/Pizza.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapDemo.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapDemo.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SoapResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoapResponse" nillable="true" type="tns:SoapResponse" />
</xs:schema>